@import url('typography.scss');

@import url('styles/header.scss');
@import url('styles/footer.scss');

@import url('styles/caroucel.scss');
@import url('styles/beneficies.scss');
@import url('styles/topProducts.scss');
@import url('styles/newsletter.scss');

.layout {
    &.default {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;

        main {
            flex: 1;
            /* padding: 4rem 0; */
        }
    }
}