:root {
    --color-default: #000;
    --color-primary: #6ac768;
    --color-secundary: #1e9d20;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    -webkit-font-smoothing: antialiased;
    font-family: Montserrat, sans-serif;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('/fonts/FarAwayGalaxy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    font-family: 'Poppins';
    height: 100vh;
    font-size: 62.5%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    transition: .3s;
}

a:hover {
    color: var(--color-secundary);
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1.5rem;
    font-weight: 500;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.5rem;
    color: var(--color-primary);
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.9rem;
}

input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: #FFF;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 5px;
    font-weight: 600;

    &.btn-primary {
        background-color: var(--color-primary);
        color: #fff;
    }
}

p {
    margin-bottom: .5rem;
}