.favorite-product {
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 1.6rem;

    &.v1 {
        .columns {
            display: flex;
            align-items: center;
            gap: 10rem;

            .column-left {
                flex: 1;
                max-width: 400px;

                a {
                    text-decoration: underline;
                }
            }

            .column-right {
                flex: 1;
            }

            .subtitle {
                font-size: 1.4rem;
            }

            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
                border-radius: .5rem;
            }
        }
    }
}