.login {
    &.v1 {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        padding: 2rem;

        .btn {
            &.btn-primary {
                padding: 1rem 2rem;
                background-color: var(--color-primary);
                color: #FFF;
                font-size: 1.6rem;

                &:hover {
                    background-color: var(--color-secundary);
                    transition: 1s;
                }
            }

            &.btn-reset {}
        }

        .columns {
            display: flex;
            gap: 1rem;
            align-items: center;
        }
    }
}