.top-products {
    &.v1 {
        max-width: 1540px;
        width: 100%;
        margin: 0 auto;
        padding: 0 1.6rem;

        .list {
            overflow-x: auto;
            padding-bottom: 2rem;
            display: flex;
            flex-wrap: nowrap;
            gap: 2rem;

            .card {
                min-width: 25rem;
                flex: 1;
                cursor: pointer;
                padding: 1.5rem;
                border-radius: 1rem;
                -webkit-box-shadow: 1px 1px 9px -1px rgba(115, 115, 115, 0.16);
                -moz-box-shadow: 1px 1px 9px -1px rgba(115, 115, 115, 0.16);
                box-shadow: 1px 1px 9px -1px rgba(115, 115, 115, 0.16);
                transition: .3s;

                &:hover {
                    -webkit-box-shadow: 1px 1px 9px -1px rgba(115, 115, 115, 0.46);
                    -moz-box-shadow: 1px 1px 9px -1px rgba(115, 115, 115, 0.46);
                    box-shadow: 1px 1px 9px -1px rgba(115, 115, 115, 0.46);
                }

                .header {
                    img {
                        width: 100%;
                        margin-bottom: 1.3rem;
                    }
                }

                .content,
                .footer {
                    color: var(--color-default);
                }

                .footer {
                    text-align: right;
                    margin-top: 1rem;
                    font-size: 2.2rem;
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .top-products {
        &.v1 {
            .list {
                .card {
                    min-width: auto;
                }
            }
        }
    }
}